<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style.css">
    <title>ToDo - Home</title>
</head>
<body>

    {{ range .Cookies }}
    <h1>Hello, {{ .Value }}!</h1>
    {{ end }}
<h2>New ToDo:</h2>
    <form method="POST" action="/home">
        <input type="text" name="title" placeholder="Title" required>
        <input type="password" name="description" placeholder="Description" required>
        <input type="submit" value="Submit">
        <h2>Your ToDo's:</h2>
<a href="/logout">Logout</a>
    </form>
</body>
</html>