<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/templates/style.css">
    <title>ToDo</title>
</head>
<body>
<h1>Welcome to ToDo!</h1>
<p>Please login to access your ToDo's or <a href="/signup">sign up</a> to create an account and get started.</p>
<div class="container">
<form method="POST" action="/">
    <input  class="Form" type="text" name="username" placeholder="Username" required>
    <input  class="Form" type="password" name="password" placeholder="Password" required>
    <input class="button" type="submit" value="Login">
</form>
</div>
</body>
</html>