<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/templates/style.css">
    <title>ToDo - Sign up</title>
</head>
<body>
<h1 class="Title">Sign up</h1>
<div class="container">

<p>Sign up to start creating your own personalized ToDo's!</p>
<form method="POST" action="/signup">
    <input class="Form" type="text" name="username" placeholder="Username" required>
    <input class="Form" type="password" name="password" placeholder="Password" required>
    <input class="button" type="submit" value="Sign up">
</form>
    <p>Already have an account? <a href="/login">log in</a> instead.</p>

</div>
</body>
</html>